<h2 class="mat-h2">Add New Book</h2>
<form [formGroup]="form" (ngSubmit)="create()" class="book-new__form">
  <mat-form-field>
    <mat-label>ISBN</mat-label>
    <input matInput formControlName="isbn" placeholder="ISBN" />
    @if (form.hasError('minlength', 'isbn')) {
      <mat-error> ISBN has to be at least 3 characters long. </mat-error>
    }
    @if (form.hasError('required', 'isbn')) {
      <mat-error> ISBN is required </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Title" />
    @if (form.hasError('required', 'title')) {
      <mat-error> Title is required </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subtitle</mat-label>
    <input matInput formControlName="subtitle" placeholder="Subtitle" />
  </mat-form-field>
  <ng-container formArrayName="authors">
    @for (author of authors.controls; track $index) {
      <mat-form-field>
        @if ($first) {
          <mat-label>Author</mat-label>
        }
        <input matInput [formControl]="author" placeholder="Author" />
        @if (author.getError('memo')) {
          <mat-error> {{ author.getError('memo') }} </mat-error>
        }
        <mat-icon class="delete-btn" (click)="deleteAuthor($index)"> delete_forever </mat-icon>
      </mat-form-field>
    }
    <button type="button" mat-mini-fab (click)="addAuthor()">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>
  </ng-container>
  <mat-form-field>
    <mat-label>Abstract</mat-label>
    <textarea matInput formControlName="abstract" placeholder="Abstract"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cover</mat-label>
    <input matInput formControlName="cover" placeholder="Cover URL" />
  </mat-form-field>

  <div class="form-actions">
    <button mat-button routerLink="/" type="button">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Save</button>
  </div>
  <!-- @defer () {
    
  }

  @switch (form.status) {
    @case ('VALID') {
      Ist Valide
    }
    @case ('INVALID') {
      Ist NICHT Valide
    }
    @default {
      Checke gerade
    }
  } -->
</form>
